@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 18px;
}

.yearsimg {
    position: absolute;
    right: 15%;
    bottom: 5%;
    width: 30%;
}

strong {
    font-weight: 600;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.4rem;
}

.p01 {
    padding-bottom: 0;
}

.h1left {
    text-align: left;
    position: relative;
    padding-bottom: 20px;
}

.h1right {
    text-align: right;
    position: relative;
    padding-bottom: 20px;
}

.h1left::after {
    content: '';
    display: block;
    border: 2px solid #a01916;
    width: 100px;
    margin-top: 10px;
    left: 0;
    position: absolute;
    padding: 0;
}

.h1right::after {
    content: '';
    display: block;
    border: 2px solid #a01916;
    width: 100px;
    margin-top: 10px;
    right: 0;
    position: absolute;
    padding: 0;
}


/* === Navigation === */

.nav {
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 6px 6px 9px 0 rgba(0, 0, 0, .1);
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.0rem 2.0rem;
    z-index: 999;
}

.nav a {
    text-decoration: none;
    color: #000000;
}

.nav ul {
    list-style: none;
}

.menuList {
    display: flex;
    align-items: center;
}

.menuList li {
    padding: 1.0rem 1.0rem;
    transition: 0.2s linear;
}

.menuList li li {
    padding: 0.5rem 1.0rem;
    transition: 0.2s linear;
}

.menuList li:hover {
    background-color: #f4f4f4;
}

.menuListFirstLine {
    border-left: 1px solid rgba(142, 47, 47, .8);
}

a.first {
    font-weight: 500;
}


/* === menuListDrop === */

.menuListDrop {
    position: relative;
}

.menuListDrop-menu,
.menuListRight {
    position: absolute;
    background: #FFFFFF;
    width: 100%;
    top: 55px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, .1);
    transition: all 0.4s linear;
}

.menuListRight {
    top: 0;
    left: 110%;
}

.menuListItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menuListDrop:hover .menuListDrop-menu {
    opacity: 1;
    visibility: visible;
}

.menuListDrop-right:hover .menuListRight {
    left: 100%;
    opacity: 1;
    visibility: visible;
}

.menuListDrop-menu.expand.long {
    width: 260px;
}

.menuListDrop-menu.expand.middle {
    width: 160px;
}


/* === Navigation Menu Button === */

.menuButton {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 2;
}

.menuButton__bars {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 2px;
    background-color: #000000;
    margin: 10px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
    transform: rotate(-45deg) translate(-3px, 3px);
}

.open .bar2 {
    display: none;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, 6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.fas.fa-angle-down {
    margin-left: 8px;
}


/* === Logo with Media Queries === */

.imglogo {
    height: 54px;
}

@media (max-width: 1000px) {
    .imglogo {
        height: 42px;
        margin-left: -24px;
    }
}

@media (max-width: 375px) {
    .imglogo {
        height: 38px;
        margin-left: -24px;
    }
}

@media (max-width: 340px) {
    .imglogo {
        height: 32px;
        margin-left: -24px;
    }
    .menuList li a {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }
}

.headerBig {
    height: 90vh;
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo01.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.headerLarge00 {
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo01.jpg);
}

.headerLarge01 {
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo02.jpg);
}

.headerLarge02 {
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo03.jpg);
}

.headerLarge03 {
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo04.jpg);
}

.headerLarge04 {
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo05.jpg);
}

.headerLarge05 {
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo06.jpg);
}

.headerLarge06 {
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo07.jpg);
}

.headerLarge07 {
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo08.jpg);
}

.headerLarge08 {
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo09.jpg);
}

.headerLarge09 {
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo10.jpg);
}

.headerLarge10 {
    background: url(https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo11.png);
}

.headerLarge00,
.headerLarge01,
.headerLarge02,
.headerLarge03,
.headerLarge04,
.headerLarge05,
.headerLarge06,
.headerLarge07,
.headerLarge08,
.headerLarge09,
.headerLarge10 {
    height: 60vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1.h1OverImg {
    font-family: 'Helvetica Now Display', sans-serif;
    position: absolute;
    font-size: 3.0rem;
    font-weight: 300;
    color: #FFFFFF;
    top: 60%;
    left: 5%;
    width: 40%;
    transform: translate(10%, -50%);
}

h1.h1OverImg span {
    background-color: #a01916;
    line-height: 145%;
    padding: 5px;
}

h1.h1OverImgLarge {
    font-family: 'Helvetica Now Display', sans-serif;
    position: absolute;
    font-weight: 300;
    color: #FFFFFF;
    left: 5%;
    transform: translate(10%, -50%);
    bottom: 0;
    font-size: 3.0rem;
    margin: 0 auto;
    width: 80% !important;
    background: none;
}

h1.h1OverImgLarge span {
    background-color: #a01916;
    box-shadow: 0.5em 0 0 #a01916, -0.5em 0 0 #a01916;
    line-height: 140%;
    padding: 5px;
}

.whiteSection {
    background-color: #fff;
    color: black;
}

.colorSection {
    background: linear-gradient(90deg, rgb(200, 200, 200), rgb(230, 230, 230));
    color: black;
}

section h1,
section h2 {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding-top: 24px;
}

section {
    padding: 40px 0;
}

section p {
    width: 75%;
    text-align: left;
    margin: 0 auto;
    padding: 12px;
}

.button01 {
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'Oswald', sans-serif;
    position: relative;
    padding: 1.0rem 2.6rem;
    margin: 1.2rem;
    font-size: 1.6rem;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    border: 1px solid #a01916;
    width: 202px;
}

.button01::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 0.3rem;
    background-color: #a01916;
    transition: .7s cubic-bezier(0, 1.8, 1, 1);
    -webkit-transition: .7s cubic-bezier(0, 1.8, 1, 1);
    -moz-transition: .7s cubic-bezier(0, 1.8, 1, 1);
    -o-transition: .7s cubic-bezier(0, 1.8, 1, 1);
}

.button01:hover::before {
    right: 0;
}

.buttonSection {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-around;
    color: #FFFFFF;
    background-color: #3e3d42;
    padding: 0;
}

.divBtn {
    margin: auto 0;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s linear;
}

.divBtn:hover {
    transform: scale(1.2);
}

.buttonSection .divBtn::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    margin-bottom: 2px;
    background-color: #a01916;
}

.bodyLock {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
}


/* Img Text Section */

.text_Img_Section {
    display: flex;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.text_Img_Section .text_Section {
    width: 100%;
}

.text_Img_Section .text_Section_p {
    width: 100%;
}

.text_Img_Section .img_Section {
    justify-content: center;
    align-content: center;
    display: flex;
    margin-left: 40px;
}


/* Google Map */

.mapouter {
    position: relative;
    text-align: right;
    height: 350px;
    width: 100%;
}

#gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 350px;
    width: 100%;
}

.imgTextSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 24px auto;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.imgTextSection .imgTextSection__Text p {
    width: 100%;
    margin: 0;
    padding: 0;
}

.imgTextSection:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.linkImgTextSection a {
    text-decoration: none;
    color: #000000;
}


/* ==== FOOTER ==== */

footer {
    text-align: center;
}

.footerSection {
    background: none;
    background-color: #a01916;
    color: #FFFFFF;
}

.footerFlexSection {
    display: flex;
    justify-content: space-between;
    background-color: #3e3d42;
    padding: 0 10%;
}

.footerCopyright {
    padding: 16px;
}

.footerFlexSection__One {
    display: flex;
    align-self: center;
    padding: 20px;
}

.footerFlexSection__Two {
    font-size: 0.9rem;
    padding: 20px;
}

.footerFlexSection__Two .footerp {
    text-align: right;
    margin-top: 24px;
    line-height: 150%;
}

.footerFlexSection__Two a {
    color: #FFFFFF;
    text-decoration: none;
}


/* ===== REFERENCES CSS ===== */

.colP {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rowP {
    flex-basis: 20%;
}

.contCert {
    display: block;
    width: 50vh;
    height: 38vh;
    margin: 20px;
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
    color: white;
}

img {
    transition: all .2s ease-in-out;
}

.contCert img:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    cursor: pointer;
}

@media (max-width:500px) {
    .contCert {
        width: 45vh;
        height: 35vh;
    }
}

.centered {
    text-align: center;
}


/* ===== CONTAINER LABELS ===== */

.citem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fcfafb;
}

.containerLabels {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 40px auto;
}

.containerLabels>div {
    flex-basis: 46%;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.containerLabels_Text p {
    width: 100%;
}


/* === HISTORY === */

#historia_firmy,
#nagrody_certyfikaty {
    background: linear-gradient( rgba(199, 199, 199, 0.8) 100%, rgba(199, 199, 199, 0.8)100%), url("https://raw.githubusercontent.com/goldipl/Railway_Website_new/master/img/tlo01.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.historySection {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 40px auto;
}

.historySection .historySection--col {
    flex: 70%;
}

.historySection .historySection--col p {
    width: 90%;
}


/* Our offer section */

.rightsmallpdiv {
    display: block;
    width: 80%;
    margin-left: 10vw;
    margin-bottom: -40px;
}

.peopleitem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fcfafb;
}

.peopleLabels {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 40px auto;
}

.peopleLabels .peopleitem {
    flex-direction: column;
    flex-basis: 20%;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    flex-grow: 1;
}

.peopleLabels .peopleitem:hover {
    border: 2px solid #a01916;
}

.peopleLabels_Text p {
    width: 100%;
    text-align: center;
    font-weight: 400;
}

.peopleLabels .peoplecontainerLabels_Img {
    justify-content: center;
    display: flex;
    position: relative;
}

.peopleLabels .peoplecontainerLabels_Img::after {
    content: "";
    border: 1px solid rgba(155, 155, 155, 0.5);
    display: block;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
    position: absolute;
    padding: 0;
}

.peopleLabels a {
    text-decoration: none;
    color: #000000;
}


/* ==== MANAGEMENT ==== */

.management .managementNormalName {
    display: flex;
    width: 75%;
    margin: 0 auto;
}

.management .normalName {
    width: 60%;
}

.management .strongName {
    font-weight: 600;
    position: relative;
}

.management .strongName::after {
    content: '';
    display: block;
    border: 0.5px solid #a01916;
    width: 55vw;
    margin-top: 10px;
    left: 0;
    position: absolute;
}

#zarzad .h1left {
    margin-bottom: 32px;
}


/* === PRIZES === */

.prizeitem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fcfafb;
}

.prizeLabels {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 40px auto;
}

.prizeLabels>div {
    flex-direction: column;
    flex-basis: 30%;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 10px;
    border: 2px solid #a01916;
}

.prizeLabels_Text p {
    width: 100%;
    text-align: center;
    font-weight: 400;
}

.prizeLabels .prizecontainerLabels_Img {
    border-top: 1px solid #a01916;
    padding-top: 20px;
    margin-top: auto;
}


/* ===== MEDIA QUERIES ===== */

@media (min-width: 1101px) and (max-width: 1400px) {
    h1.h1OverImg {
        font-size: 2.5rem;
        width: 37%;
    }
    h1.h1OverImgLarge {
        font-size: 2.0rem;
    }
    .divBtn {
        font-size: 1.2rem;
    }
    h1.h1OverImgLarge span {
        line-height: 160%;
    }
}

@media (max-width: 1100px) {
    .menuButton {
        display: flex;
    }
    .nav .menuList {
        position: absolute;
        height: calc(100vh - 71px);
        width: 100%;
        top: 100%;
        right: 0;
        background: #FFFFFF;
        display: block;
        padding: 1.0rem;
        line-height: 1.6rem;
        overflow-y: auto;
        transform: translateX(-100vw);
        transition: 0.3s linear;
        z-index: -1;
    }
    .menuList.open {
        transform: translateX(0);
    }
    .menuList li {
        margin: 15px 10px;
    }
    .menuList li a {
        padding: 0 1rem;
        display: block;
        font-size: 1.3rem;
    }
    .menuList li:hover {
        background-color: transparent;
    }
    .menuList .menuListDrop-menu,
    .menuList .menuListRight {
        position: static;
        opacity: 1;
        top: 4rem;
        visibility: visible;
        width: 100%;
        max-height: 0;
        transform: scaleY(0);
        transform-origin: top;
        overflow: hidden;
        transition: all 0.2s linear;
        box-shadow: none;
    }
    .expandList.open+.expand {
        max-height: 100%;
        transform: scaleY(1);
    }
    .expand li {
        margin: 0;
    }
    .expand li a {
        font-size: 1.1rem;
        border-bottom: 1px dashed rgba(142, 47, 47, .8);
        padding-bottom: 0.9rem;
    }
    .fas.fa-angle-right {
        margin-left: 8px;
    }
    .menuListDrop-menu.expand.middle,
    .menuListDrop-menu.expand.long {
        width: 100%;
    }
    .menuListDrop-menu.expand,
    .menuListRight.expand {
        margin-top: 8px;
    }
    .menuList .menuListFirstLine:last-of-type {
        margin-bottom: 100px;
    }
    section h1,
    section h2,
    section p {
        width: 90%;
    }
    .imgTextSection {
        flex-direction: column;
    }
    .imgTextSection .imgTextSection__Text p {
        text-align: center;
    }
    h1.h1OverImg {
        font-size: 1.4rem;
    }
    h1.h1OverImgLarge {
        font-size: 1.2rem;
    }
    .text_Img_Section {
        flex-direction: column;
        width: 90%;
    }
    .text_Img_Section .img_Section {
        width: 60%;
        margin-left: 0;
    }
    .citem {
        flex-basis: 100% !important;
    }
    .containerLabels {
        width: 100%;
    }
    .historySection {
        flex-direction: column;
    }
    .rightsmallpdiv {
        margin-left: 0;
        width: 100%;
    }
    .peopleLabels>div {
        flex-basis: 45%;
        flex-grow: 1;
    }
    .historySection {
        width: 100%;
    }
    .divBtn {
        font-size: 1.2rem;
    }
    h1.h1OverImgLarge span {
        line-height: 180%;
    }
    h1.h1OverImg span {
        line-height: 160%;
    }
}

@media (min-width: 850px) and (max-width: 1099px) {
    .peopleLabels {
        width: 100%;
        flex-grow: 1;
    }
}

@media (max-width: 849px) {
    .peopleLabels>div {
        flex-basis: 40% !important;
        flex-grow: 1;
    }
    .buttonSection {
        display: none;
    }
    .headerBig {
        height: 100vh;
    }
}

@media (max-width: 800px) {
    .prizeLabels>div {
        flex-basis: 100%;
    }
    h1.h1OverImg {
        width: 60%;
    }
}

@media (max-width: 790px) {
    .footerFlexSection {
        flex-direction: column;
    }
    .footerFlexSection__Two .footerp {
        text-align: center;
        margin-top: -16px;
    }
}

@media (max-width: 600px) {
    .button01 {
        font-size: 1.3rem;
        padding: 0.6rem 1.2rem;
        width: 140px;
    }
    .text_Img_Section .img_Section {
        width: 100%;
        margin-left: 0;
    }
    .management .strongName::after {
        width: 80vw;
    }
    .management .managementNormalName {
        width: 90%;
    }
    .peopleLabels>div {
        flex-basis: 100% !important;
        flex-grow: 1;
    }
    .footerFlexSection {
        padding: 0;
    }
}